@charset "UTF-8";
body{
    font-size: 16px;
    background: rgb(123, 178, 190);
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
   }
   
form{
    width: 300px;
    background: #fff;
    padding: 15px 40px 40px;
    border: 5px solid #ccc;
    margin: 80px auto 0;
    border-radius: 5px;
   }
  
.row{
    padding-bottom: 20px;
   }  
   
h2{
    text-align: center;
    text-decoration: null;
    color: (182, 219, 244);
    font-size: 36px;
   }
   
input[type="submit"]{
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
   }
input[type="submit"]:hover {
    background: #0165b6;
   }


 .footer{
    text-align: center;
   }

input, select{
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
   }
   
   
/* .form-inline{
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
   } */
/* .form-inline label, .form-inline input{
    display: inline-block;
    width: auto;
    padding-right: 15px;
   } */
   


